@font-face {
  font-family: "Alata";
  src: url(/assets/fonts/Alata/Alata-Regular.ttf);
}
@font-face {
  font-family: "Josefin Sans";
  src: url(fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
  font-weight: bold;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}
#root{
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) and (min-width:344px){
  #root{
  }
}